<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GEEKMOOC"
        tools:targetApi="31">
        <activity
            android:name="jp.srini.geek_mooc.GetRating"
            android:exported="false"
            android:label="@string/title_activity_get_rating"
            android:theme="@style/Theme.GEEKMOOC" />
        <activity
            android:name="jp.srini.geek_mooc.CourseCategory"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.ShowQuizMarks"
            android:exported="false" />
        <activity
            android:name="Quiz.QuizStart"
            android:exported="false" />
        <activity
            android:name="Quiz.QuizCreate"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.ModifyCourse"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.LectureModify"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.CourseTakingPage"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.GettingNewLectureDetials"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.LectureUpload"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.RegisterCourse"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.GettingCourseDetials"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.Basic_Info"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.Home"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.ForgetPassword"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.Register"
            android:exported="false" />
        <activity
            android:name="jp.srini.geek_mooc.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>